@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#1e1f22] text-[#dbdee1];
  }
}

/* Remover qualquer contorno/borda amarela de vídeos ou elementos focados */
video, video:focus, video:focus-visible, video:hover {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Custom scrollbars para a lista de membros e grades */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2b2d31;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #383a40;
}
